body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}


.principle-image{
    right: 160px;
    position: absolute;
    height: 80%;
    bottom: 0;
}

.buttons-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    margin-left: 20%;
}

.buttons-section h1{
    font-size: 60px;
    
    color: blue;
}
.Service-Provider{
    padding: 20px;
    margin: 10px;
    width: 25vh;
    
    color: #ffffff;
    background-color: orange;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    border: solid;
    border: 10px;
    border-color: orange;
    border-radius: 3px;
}

.Simple-Client{
    padding: 20px;
    margin: 10px;
    
    color: #ffffff;
    background-color: orange;
    text-decoration: none;
    border-radius: 3px;
    font-size: 30px;
    width: 25vh;
    text-align: center;
    border: solid;
    border: 5px;
    border-color: orange;
}

.Service-Provider:hover{
    background-color: #ffffff;
    border: 10px;
    border-color: orange;
    color: orange;
}

.Simple-Client:hover{
    background-color: #ffffff;
    border: 10px;
    border-color: orange;
    color: orange;
}
@media (max-width: 1407px) { 
    .principle-image{
        right: 0;
    }
    .buttons-section{
        margin-left: -22%;

  }
}
@media (max-width: 1052px) { 
    .principle-image{
        display: none;
    }
    .buttons-section{
        margin-left: -30%;
    }

}